
.recommend_info{
	width: 1200px; height:405px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
}
.recommend_img{
	width: 450px; height:405px;
}
.recommend_img img { width:450px;}
.recommend_content{
	width: 700px;
	margin:13px 0 0 50px;
}
.recommend_title{ font-weight:bold; font-size:23px; color:#232323}
.recommend_infomation{
	margin: 20px 0 0 0;
	height: 250px;
	overflow: hidden; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;
}
.recommend_infomation p{ margin:20px 0 0 0; line-height:30px; color:#3c3c3c}
.price{
	margin: 10px 0; color:#4d4d4d;
}
.count>input{
	margin-right: 40px;
}
.count>input:nth-child(1){
	width: 50px;
	height: 40px; border-radius:3px; border:1px solid #a9a9a9; color:#555555;
}
.count>input:nth-child(2),.count>input:nth-child(3){
	font-size:12px;
	background: #f7f7f7;
	border: 1px solid #ff7d7d;
	padding:12px 8px 12px 38px; margin:0 6px; border-radius:8px; color:#ff7d7d; cursor:pointer; background-repeat:no-repeat; background-color:#fff0f0;
}
.count>input:nth-child(2){ background-image:url(../img/buynow.png);background-size:32%; background-position:5px 4px;}
.count>input:nth-child(2):hover{background-color:#ffc618; color:#fff; border:1px solid #FFF;background-image:url(../img/buynow_hover.png)}
.count>input:nth-child(3){background-image:url(../img/buy_de.png);background-size:30%; background-position:5px 3px;}
.count>input:nth-child(3):hover{background-color:#ffc618; color:#fff;border:1px solid #FFF;background-image:url(../img/buy_hover.png)}
/*商品详情*/
.recommend_details{
	width: 1200px;
	margin: 30px auto 0;
}
.details_top{
	width: 100px;
	height: 40px;
	border: 1px solid #ff7e3b;
	border-bottom: none;
	text-align: center;
	line-height: 40px;
	position: relative;
	z-index: 10;
	top: 1px;
	background: #fff; border-top:3px solid #ff7e3b; color:#ff7e3b; font-weight:bold; font-size:15px; background-image:url(../img/xiangqing.png); background-repeat:no-repeat; background-position:top center;
}
/*.details_top{padding:6px 3px 4px 25px; background-image:url(../img/leg_img.png); font-size:16px; background-repeat:no-repeat; background-size:18%; font-weight:900; color:#1e1e1e; background-color:#f5f5f5; border-radius:0 30px 30px 0; border:2px solid #e5e5e5}
*/
.details_content{
	/*height: 580px;*/
	border: 1px solid #ff7e3b; background-color:#FFF;
}















