.index_top{ width:100%; height:80px; background-color:#fcfcfc; border-bottom:1px solid #e6e6e6;}
.index_logo{
	width: 1200px;
	margin: 0 auto; height:80px;
	overflow: hidden;
}
.bz-logo img{ width:40%; padding:12px 0 0 12px;}
.bz-logo{width:30%;padding-left:30px;}
.search{
	width: 541px;
	height: 40px;
	background: #F26820;
	padding: 2px;
	margin:20px 0 0 -30px; border-radius:0 20px 20px 0;
}
.search_box{
	width: 482px;
	height: 36px;
	border: none;
	padding-left: 10px;
}
.search_btn{
	width: 47px;
	height: 36px;
	border: none;
	background: #F26820; cursor:pointer; color:#dcdcdc; background-image:url(../img/search.png); background-size:80%; background-repeat:no-repeat;
}
.my{ margin:24px 10px 0 0;}
.my_commodity,.my_order{
	font-size:12px;
	background: #f7f7f7;
	border: 1px solid #dcdcdc;
	padding:8px 4px 8px 32px; margin:0 6px; border-radius:5px; color:#8d8d8d; cursor:pointer; background-repeat:no-repeat; 
}
.my_commodity:hover{ background-color:#ffc618; color:#fff; border:1px solid #FFF;background-image:url(../img/buy_hover.png);background-size:38%;}
.my_order:hover{ background-color:#ffc618; color:#fff;border:1px solid #FFF;background-image:url(../img/pay_hover.png);background-size:29%; background-position:4px 5px;}
.my_commodity{ background-image:url(../img/buy.png);background-size:38%; background-position:2px 2px;}
.my_order{ background-image:url(../img/pay.png);background-size:29%; background-position:4px 5px;}
.long_banner{
	width: 1200px; 
	margin: 15px auto;
}
.nav{
	width: 1200px;
	margin: 0 auto;
	height: 315px;
	margin-top: 10px;
}
.nav_aside{
	border:2px solid orangered;
	width: 190px;
	border-radius: 8px;
	margin-right: 10px; background-color:#fcfcfc; height:310px;
}
.nav_aside_box{ height:270px; padding:10px 0 0 10px}
.nav_aside li{
	line-height: 35px;
	padding-left: 10px; width:164px;
}
.nav_aside li:hover{border:1px solid #ff4500; border-radius:8px;}
.nav_aside a{ font-size:16px; color:#474747; font-weight:bold;}
.nav_aside a:hover{ color:#f1711c;}

.slider_banner{ width:750px; height:315px; border:2px solid orangered; background-color:#fcfcfc; border-radius:8px;}
.slider_img_box{ width:745px; height:310px}
.slider_banner img{ width:745px; height:310px; padding:5px; border-radius:10px;}
.owner{
	width: 238px; height:310px;background-color:#fcfcfc;border: 2px solid orangered;border-radius: 8px;
}
.owner_box{ width:238px; height:155px;}
.owner_img{ width:100px; height:130px; background-color:#ededed;margin:20px 0 5px 20px; border:1px solid #ffe9d3; border-radius:6px;}
.owner_img img{ width:98px; height:98px; border-radius:6px 6px 0 0;}
.owner_name_box{ width:100px; height:22px;}
.owner_name{ font-size:14px; text-align:center; line-height:28px;color:#474747}
.owner_user{ margin:14px 0 0 0; width:90px;}
.owner_user li{ font-size:12px; line-height:18px; margin:8px 0; color:#474747}
.owner_btns{ width:197px; height:120px; margin:20px auto 0 auto;}
.owner_btns input{
	height: 30px;padding:0 20px; font-size:13px; color:#343434; border-radius:6px; border:1px solid #666; background-color:#f6f6f6; cursor:pointer; margin:0 3px 20px 12px;
}
.owner_btns input:hover{ font-weight:bold; background-color:#ffc618; color:#fff; border:1px solid #f18a11}
/*.owner_btns>input:nth-child(2){
	margin: 0 20px;
}*/
.recommend,.hot{
	width: 560px; background-color:#FFF;}
.content_wrap legend{ padding:6px 3px 4px 25px; background-image:url(../img/leg_img.png); font-size:16px; background-repeat:no-repeat; background-size:50%; font-weight:900; color:#1e1e1e; background-color:#f5f5f5; border-radius:0 30px 30px 0; border:2px solid #e5e5e5}
.content_wrap{
	overflow: hidden;
	width: 1200px;
	margin: 36px auto;
}
.content_wrap fieldset{ border-radius:12px; border:2px solid #fe5313}
.content{text-align: center; margin:16px; background-color:#f5f5f5; width:152px; height:182px; border:1px solid #eeeeee; border-radius:8px; cursor:pointer;}
.content:hover{ border:1px solid #787878;}
.content img{ border-radius:10px 10px 0 0;}
.content p{ padding-top:6px; font-size:14px;}
.footbox{border-top: 2px solid #fafafa; background-color:#ffffff; margin-top:50px;}
.footer{
	width: 1200px;
	
	margin: 30px auto 0px;
	overflow: hidden;
	padding-top: 40px;
}
.foot_imgbox{ width:1200px; margin:0 auto; height:50px;}
.footer img{
	margin: 0 30px; float:left;
}
.footer p{
	text-align: center;
	margin:30px auto; color:#adadad; width:500px; 
}
.footer a{ color:#666666; padding:10px 0;}
.footer a:hover{ color:#f26820}













