html,
body
{
    position: relative;

    display: flex;

    height: 100%;
}

section
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.categary
{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.maskBody
{
    position: absolute;
    z-index: 998;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;

    display: none;

    background: rgba(0, 0, 0, .8);
}

.categary .categary-left
{
    float: left;
    /* overflow: hidden; */
    overflow-y: auto;
    background-color: #f2f2f2;
    width: 90px;
    height: 100%;
}



.categary .categary-left > ul li > a
{
    line-height: 50px;

    display: block;

    width: 90px;
    height: 50px;

    text-align: center;

    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.categary .categary-left > ul .active a
{
    color: #d8505c;
    border-right: none;
}
.categary .categary-right
{
    overflow-y: auto;

    height: 100%;
}
.categary .categary-right
{
    padding: 10px;
    padding-bottom: 50px;

}

.right-in{
    padding: 10px;
    padding-bottom: 50px;
    background-color:white;
}




.product-info li
{
    position: relative;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    border-bottom: 1px solid #ccc;
}

.product-info .middle-info
{
    min-width: 146px;
    max-width: 146px;
}

.product-info li .left-img
{
    overflow: hidden;

    max-height: 130px;
    padding: 6px;
}

.product-info li .left-img a
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100px;
    min-height: 100px;
    max-height: 100px;

    align-items: center;
}

.product-info li .left-img img
{
    width: 100%;
    max-height: 100px;
}

.product-info .middle-info
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    flex-direction: column;

    margin-left: 10px;

    justify-content: space-between;
}

.product-info .middle-info .product-price
{
    margin-bottom: 10px;
    color:#e8401f;
}

.product-info .right-num
{
    position: absolute;
    right: 0;
    bottom: 0;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-bottom: 10px;

    align-items: flex-end;
}

.minusOne
{
    display: none;
}

.num
{
    display: none;
    height:17px;
    margin-right: 8px;
    margin-left: 8px;
}

.mask
{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;

    display: none;

    width: 240px;
    height: 100px;

    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

    border-radius: 10px;
    background: rgba(0, 0, 0, .6);
}

.mask .close
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-top: 6px;
    margin-right: 10px;

    color: #fff;

    justify-content: flex-end;
}

.mask .txt
{
    font-size: 12px;

    margin-top: 6px;

    text-align: center;

    color: #fff;
}

.btn
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-top: 6px;

    justify-content: center;
}

.btnSure,
.btnCancel
{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid transparent;
    border-color: #d43f3a;
    border-radius: 4px;
    outline: none;
    background: #d9534f;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.btnSure
{
    margin-right: 10px;
}


.minGoodsList
{
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    display: none;

    width: 100%;
    height: 40px;
    padding-left: 10px;

    background: rgba(0, 0, 0, .8);

    align-items: center;
}


.minGoodsList .sign
{
    line-height: 40px;

    position: relative;
}

.minGoodsList .sign .GoodsNum
{
    line-height: 30px;

    position: absolute;
    top: -12px;
    left: 22px;

    width: 30px;
    height: 30px;

    text-align: center;

    border-radius: 50%;
    background: orange;
}

.minGoodsList .sign span
{
    font-size: 30px;

    color: #ddd;
}

.minGoodsList .btnPrice
{
    font-size: 14px;

    margin-left: 10px;

    color: #fff;

    flex: 1;
}

.minGoodsList .btnPay
{
    font-size: 14px;
    line-height: 40px;

    width: 100px;
    height: 40px;

    text-align: center;

    color: #fff;
    background: orange;
}

.maxGoodsList
{
    position: absolute;
    right: 0;
    bottom: 90px;
    left: 0;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    display: none;
    flex-direction: column;

    background: #fff;
}

.maxGoodsList .maxIn
{
    overflow-y: auto;

    width: 90%;
    max-height: 300px;
    margin: 0 auto;
}

.maxGoodsList .head
{
    text-align: center;

    border-bottom: 1px solid #ccc;
}

.maxGoodsList ul li
{
    line-height: 26px;

    position: relative;

    height: 44px;

    border-bottom: 1px solid #ccc;
}

.maxGoodsList ul li .shopInfo
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}

/* .maxGoodsList ul li:last-child {
	margin-bottom: 20px;
} */

.clear
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin: 8px auto;

    justify-content: center;
}

.maxGoodsList ul li .shopName
{
    font-size: 12px;

    flex: 4;
}

.maxGoodsList ul li .shopPrice
{
    text-align: right;
    color:#e8401f;
    flex: 1;
}

.maxGoodsList ul li .shopNum
{
    text-align: right;

    flex: 1;
}

.maxGoodsList ul li .btnDel .btnClear
{
    position: absolute;
    top: 18px;
    left: 10px;
}

.maxGoodsList ul li .btnDel .btnAdd
{
    position: absolute;
    top: 18px;
    right: 40px;
}

.maxGoodsList ul li .btnDel .btnMinus
{
    position: absolute;
    top: 18px;
    right: 10px;
}



/* 搜索 */

#search
{
    line-height: 30px;

    height: 30px;

    text-align: center;

    outline: none;
}

#search span
{
    font-size: 20px;
}

.searchTop
{
    position: relative;
    z-index: 998;
    top: 0;
    right: 0;
    left: 0;

    display: none;
}

.m0
{
    margin: 0 !important;
}

.searchTop .iptSearch
{
    line-height: 44px;

    position: relative;

    height: 44px;
    margin: 4px;
}

.searchTop .iptSearch  input
{
    width: 82%;

    border-radius: 20px;
}

#btnSearch
{
    position: absolute;
    top: 5px;
    right: 4px;
}
