section {
	margin: 60px auto;
	max-width: 640px;
	min-width: 320px;
}

.copyright {
	position:fixed;
	bottom:55px;
	left:0;
	right:0;
	text-align:center;
}

header .left {
	width: 0px;
}

header .title {
	margin-left: 0px;
}

section .mine {
	height: 100px;
	background: linear-gradient(90deg,#eb3c3c,#ff7459);
	box-shadow: 0 2px 10px rgba(0,0,0,.15);
	border-radius: 4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mine .avatar {
	margin-left: 20px;
}

.mine .avatar img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.mine .info {
	/* margin-left: 30px; */
}

.mine .info p {
	font-size: 14px;
	color: #fff;
}

.mine .info .id {
	margin-top: 8px;
	font-size: 12px;
	color: #fff;
}

/* 列表 */
section ul {
	margin-top: 10px;
}

section ul li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	padding-left: 1em;
	padding-right: 1em;
}

section ul li i {
	font-size: 18px !important;
	vertical-align: middle;
}

section ul li span {
	font-size: 14px;
	padding-left: 0.5em;
}

section ul li b {
	float: right;
}


.btn
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-top: 6px;

    justify-content: center;
}

.btnLogin
{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #888;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
    outline: none;
    background: #ddd;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}